<div class="row col-md-12 col-12">
    <div class="col-md-6 col-6">
        <h1>@Model.Title</h1>
    </div>
    <div class="col-md-6 col-6 align-content-end">
        @foreach (var b in Model.Actions)
        {
            <RadzenButton Click=@b.OnClick Text="@b.Label" Icon="@b.Icon" Variant=((Variant)b.Variant) ButtonStyle="@((ButtonStyle)b.Style)" />
        }
    </div>
</div>
<RadzenRow JustifyContent="JustifyContent.Normal" AlignItems="AlignItems.Normal" Gap="1rem" class="rz-mt-4">
    @foreach (var b in Model.Blocks)
    {
        var type = InferType(b.Resource.ToString());
        if (type == null)
            continue;

        <DynamicComponent Type="@type" Parameters="@GetDynamicParams(b)"></DynamicComponent>
    }
</RadzenRow>

@code {
    [Parameter]
    public PageResource Model { get; set; }

    private bool loaded = false;

    protected override void OnInitialized()
    {
        loaded = true;
    }

    private Type InferType(string name)
    {
        return Type.GetType("BlazorlyClientApp.Components." + name);
    }

    private Dictionary<string, object> GetDynamicParams(PageBlock pb)
    {
        if (pb.Resource.ToString() == "BlzFormComponent")
        {
            return new Dictionary<string, object>()
            {
                { "Model", pb.Resource }
            };
        }

        return new Dictionary<string, object>()
        {
            { "Model", pb.Resource }
        };
    }
}
